body{
  margin: 0;
  border: 0;
}
hr {
  width: 35%;
  margin-top: 30px;
  border-top: 8px;
  border-bottom: 0px;
  border-style: dotted;
  color: #94B49F;
}
h1{
  color: #66BFBF;
  font-family: cursive;
  margin: 0;
}
h2{
  padding: 5px auto;
  color: #11999E;
  font-family: monospace;
}
.pro{
  font-family: monospace;
  color: #11999E;
  padding-bottom: 5px;
}
.top-container{
  background-color: #EAf6f6;
  padding-top: 80px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
  position: relative;
}
.cloud1{
  position: absolute;
  top: 35px;
  right: 180px;
}
.cloud2{
  position: absolute;
  top: 160px;
  left: 100px;
}
.mid-container{
  background-color: #f6fbf4;
  text-align: center;
  padding-bottom: 25px;
}
.pp{
  margin-top: 15px;
  width: 15%;
  height: auto;
}

.sub{
  font-family: monospace;
  font-size: 15px;
}
.btn {
  margin-top: 110px;
  margin-bottom: 10px;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: monospace;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.botto-container{
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #66BFBF;
  text-align: center;
}
a{
  text-decoration: none;
  color: #11999E;
  padding: 50px 10px;
}
a:hover{
  color: #eaf6f6;
}
.copyRight{
  font-size: 0.75rem;
  color: #eaf6f6;
}
span{
  text-decoration: underline;
}
